bcrypt==4.0.1
Flask==3.0.0
Flask-Cors==4.0.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-Status==0.0.1
gunicorn==21.2.0
PyJWT==2.8.0
python-dotenv==1.0.0
rave-python==1.4.0
requests==2.31.0
SQLAlchemy==2.0.23
